* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}


body {
   font-family: 'Roboto', 'Sans serif';
   background-color: #ff99ff;
   width: 90%;
   margin: 0 auto;
}

.contenedor {
   width: 90%;
   max-width: 1200px;
   margin: auto;
}

.bg_animate {
   margin-top: 10rem;
   width: 100%;
   height: 100vh;
   background-color: #85D2D0;
   position: relative;
   overflow: hidden;
}

.header_nav {
   margin-top: 14px;
   width: 100%;
   position: absolute;
   top: 0;
   left: 0;

}

.header_nav.contenedor {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 15px 0;

}

.header_nav h1 {
   color: #fff;
   font-family: 'Gagalin';


}

.header_nav nav a {

   color: #fff;
   text-decoration: none;
   margin-right: 10px;
}

.banner {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 100%;
}

.banner_title h2 {
   color: #fff;
   font-size: 60px;
   font-weight: 800;
   margin-bottom: 20px;

}

.banner_title .click {
   color: #fff;
   font-size: 20px;
   text-decoration: none;
   display: inline-block;
   background: #1A2849;
   padding: 20px;
}

.banner_img {
   animation: movimiento 2.5s linear infinite;

}

.banner_img img {
   width: 600px;
   display: block;
}


/*burbujas */
.burbuja {
   border-radius: 50%;
   background: #fff;
   opacity: .3;

   position: absolute;
   bottom: -150 0;

   animation: burbujas 3s linear infinite;
}

.burbuja:nth-child(1) {
   width: 80px;
   height: 80px;
   left: 5%;
   animation-duration: 3s;
   animation-delay: 3s;
}

.burbuja:nth-child(2) {
   width: 100px;
   height: 100px;
   left: 35%;
   animation-duration: 3s;
   animation-delay: 5s;
}

.burbuja:nth-child(3) {
   width: 20px;
   height: 20px;
   left: 15%;
   animation-duration: 1.5s;
   animation-delay: 7s;
}

.burbuja:nth-child(4) {
   width: 50px;
   height: 50px;
   left: 90%;
   animation-duration: 6s;
   animation-delay: 3s;
}

.burbuja:nth-child(5) {
   width: 70px;
   height: 70px;
   left: 65%;
   animation-duration: 3s;
   animation-delay: 1s;
}

.burbuja:nth-child(6) {
   width: 20px;
   height: 20px;
   left: 50%;
   animation-duration: 4s;
   animation-delay: 5s;
}

.burbuja:nth-child(7) {
   width: 20px;
   height: 50px;
   left: 35%;
   animation-duration: 4s;
   animation-delay: 5s;
}

.burbuja:nth-child(8) {
   width: 100px;
   height: 100px;
   left: 52%;
   animation-duration: 5s;
   animation-delay: 5s;
}

.burbuja:nth-child(9) {
   width: 65px;
   height: 65px;
   left: 51%;
   animation-duration: 3s;
   animation-delay: 2s;
}

.burbuja:nth-child(10) {
   width: 40px;
   height: 40px;
   left: 35%;
   animation-duration: 3s;
   animation-delay: 4s;
}

@keyframes burbujas {
   0% {
      bottom: 0;
      opacity: 0;
   }

   30% {
      transform: translateX(30px);
   }

   50% {
      opacity: .4;
   }

   100% {
      bottom: 100vh;
      opacity: 0;
   }
}

@keyframes movimiento {
   0% {
      transform: translatey(0);
   }

   50% {
      transform: translatey(30px);
   }

   100% {
      transform: translatey(0);
   }
}



header {
   background-color: #925e92;
   width: 100%;
   margin: 0%;
   font-size: 20px;
}

.camara-bebes {
   margin-top: 20px;
}





article {
   background-color: rgb(255, 179, 208);
}

.camara2 {
   display: block;
   width: 550px;
   height: 300px;
   margin-left: 500px;
}




.centrar {
   display: flex;
}

form {
   text-align: center;
   margin-top: 50px;
}

input {
   width: 200px;
   height: 30px;
}

.metal {
   display: flex;
   align-items: center;
   justify-content: space-between;
   background-color: #F4B9B8;

}

.nav {
   width: 100%;

}

/* shop*/
.shop {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 100%;}

   .shop {
      width: 100%;
      height: 100vh;

      position: relative;
      overflow: hidden;
      background-color: #F4B9B8;
   }

.banner_title2 h2 {
   color: #fff;
   font-size: 60px;
   font-weight: 800;
   margin-bottom: 20px;
}
.banner_title2 .click {
   color: #fff;
   font-size: 20px;
   text-decoration: none;
   display: inline-block;
   background: #1A2849;
   padding: 20px;}




   * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
   }
   
   
   .contenedor2 {
      padding: 1.5rem;
      width: 100%;
      margin: 0 auto;
      margin-top: 1rem;
   }
   
   .bg_animate2 {
      width: 100%;
      height: 100vh;
   
      
   }
   
   .header_nav2 {
      width: 100%;
      height: 100%;   
   }
   
   .header_nav2.contenedor2 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 0;
   
   }
   
   .banner2 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;
   }
   
   .banner_title2 h2 {
      color: #fff;
      font-size: 60px;
      font-weight: 800;
      margin-bottom: 20px;
   
   }
   
   .banner_title2 .click2 {
      color: #fff;
      font-size: 20px;
      text-decoration: none;
      display: inline-block;
      background: #1A2849;
      padding: 20px;
   }
   
   .banner_img2 {
      animation: movimiento 2.5s linear infinite;
   }
   
   .banner_img2 img {
      width: 600px;
      display: block;
   }
   
   
   /*burbujas2 */
   .burbuja2 {
      border-radius: 50%;
      background: #fff;
      opacity: .3;
   
      position: absolute;
      bottom: -150 0 ;
   
      animation: burbujas2 3s linear infinite;
   }
   
   .burbuja2:nth-child(1) {
      width: 80px;
      height: 80px;
      left: 5%;
      animation-duration: 3s;
      animation-delay: 3s;
   }
   
   .burbuja2:nth-child(2) {
      width: 100px;
      height: 100px;
      left: 35%;
      animation-duration: 3s;
      animation-delay: 5s;
   }
   
   .burbuja2:nth-child(3) {
      width: 20px;
      height: 20px;
      left: 15%;
      animation-duration: 1.5s;
      animation-delay: 7s;
   }
   
   .burbuja2:nth-child(4) {
      width: 50px;
      height: 50px;
      left: 90%;
      animation-duration: 6s;
      animation-delay: 3s;
   }
   
   .burbuja2:nth-child(5) {
      width: 70px;
      height: 70px;
      left: 65%;
      animation-duration: 3s;
      animation-delay: 1s;
   }
   
   .burbuja2:nth-child(6) {
      width: 20px;
      height: 20px;
      left: 50%;
      animation-duration: 4s;
      animation-delay: 5s;
   }
   
   .burbuja2:nth-child(7) {
      width: 20px;
      height: 50px;
      left: 35%;
      animation-duration: 4s;
      animation-delay: 5s;
   }
   
   .burbuja2:nth-child(8) {
      width: 100px;
      height: 100px;
      left: 52%;
      animation-duration: 5s;
      animation-delay: 5s;
   }
   
   .burbuja2:nth-child(9) {
      width: 65px;
      height: 65px;
      left: 51%;
      animation-duration: 3s;
      animation-delay: 2s;
   }
   
   .burbuja2:nth-child(10) {
      width: 40px;
      height: 40px;
      left: 35%;
      animation-duration: 3s;
      animation-delay: 4s;
   }
   
   @keyframes burbujas2 {
      0% {
         bottom: 0;
         opacity: 0;
      }
   
      30% {
         transform: translateX(30px);
      }
   
      50% {
         opacity: .4;
      }
   
      100% {
         bottom: 100vh;
         opacity: 0;
      }
   }
   
   @keyframes movimiento {
      0% {
         transform: translatey(0);
      }
   
      50% {
         transform: translatey(30px);
      }
   
      100% {
         transform: translatey(0);
      }
   }
   /* camara*/
   * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
   }
   
   
   .contenedor3 {
      width: 90%;
      max-width: 1200px;
      margin: auto;
   }
   
   .bg_animate3 {
      width: 100%;
      height: 100vh;
      background: linear-gradient;
      position: relative;
      overflow: hidden;
      background-color: #F4B9B8;
      margin-top: 9rem;
   }
   
   .header_nav3 {
      width: 100%;
   }
   
   .header_nav3.contenedor3 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 0;
   
   }
   
   .banner3 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;
   }
   
   .banner_title3 h2 {
      color: #fff;
      font-size: 60px;
      font-weight: 800;
      margin-bottom: 20px;
   
   }
   
   .banner_title3 .click3 {
      color: #fff;
      font-size: 20px;
      text-decoration: none;
      display: inline-block;
      background: #1A2849;
      padding: 20px;
   }
   
   .banner_img3 {
      animation: movimiento 2.5s linear infinite;
   }
   
   .banner_img3 img {
      width: 600px;
      display: block;
   }
   
   
   /*burbujas3 */
   .burbuja3 {
      border-radius: 50%;
      background: #fff;
      opacity: .3;
   
      position: absolute;
      bottom: -150 0 ;
   
      animation: burbujas3 3s linear infinite;
   }
   
   .burbuja3:nth-child(1) {
      width: 80px;
      height: 80px;
      left: 5%;
      animation-duration: 3s;
      animation-delay: 3s;
   }
   
   .burbuja3:nth-child(2) {
      width: 100px;
      height: 100px;
      left: 35%;
      animation-duration: 3s;
      animation-delay: 5s;
   }
   
   .burbuja3:nth-child(3) {
      width: 20px;
      height: 20px;
      left: 15%;
      animation-duration: 1.5s;
      animation-delay: 7s;
   }
   
   .burbuja3:nth-child(4) {
      width: 50px;
      height: 50px;
      left: 90%;
      animation-duration: 6s;
      animation-delay: 3s;
   }
   
   .burbuja3:nth-child(5) {
      width: 70px;
      height: 70px;
      left: 65%;
      animation-duration: 3s;
      animation-delay: 1s;
   }
   
   .burbuja3:nth-child(6) {
      width: 20px;
      height: 20px;
      left: 50%;
      animation-duration: 4s;
      animation-delay: 5s;
   }
   
   .burbuja3:nth-child(7) {
      width: 20px;
      height: 50px;
      left: 35%;
      animation-duration: 4s;
      animation-delay: 5s;
   }
   
   .burbuja3:nth-child(8) {
      width: 100px;
      height: 100px;
      left: 52%;
      animation-duration: 5s;
      animation-delay: 5s;
   }
   
   .burbuja3:nth-child(9) {
      width: 65px;
      height: 65px;
      left: 51%;
      animation-duration: 3s;
      animation-delay: 2s;
   }
   
   .burbuja3:nth-child(10) {
      width: 40px;
      height: 40px;
      left: 35%;
      animation-duration: 3s;
      animation-delay: 4s;
   }
   
   @keyframes burbujas3 {
      0% {
         bottom: 0;
         opacity: 0;
      }
   
      30% {
         transform: translateX(30px);
      }
   
      50% {
         opacity: .4;
      }
   
      100% {
         bottom: 100vh;
         opacity: 0;
      }
   }
   
   @keyframes movimiento {
      0% {
         transform: translatey(0);
      }
   
      50% {
         transform: translatey(30px);
      }
   
      100% {
         transform: translatey(0);
      }
   }
   .bg_animate3 .banner_title3 .banner_img3{
      padding-top: 10px;
   }
   .cta{
      display: inline-block;
      padding: 10px;
      font-size: 35px;
   }


   .fimg{
      margin-top: 40px;
      left: 0;
      width: 100%;
      height: 400px;
      
    }
    .foh4 {
      position: absolute;
      font-family: 'Bebas Neue', cursive;
      top: 150rem ;
      left: 20rem;
      font-size:50px ;
      color: rgb(12, 1, 1); text-shadow: #860000 0.1em 0.1em 0.2em
    }
    .icon1{
      position: absolute;
      top: 157rem;
      left: 20rem;
      height: 50px;
      width:50px ;
    }
    .icon2{
      position: absolute;
      top: 157rem;
      left: 30rem;
    }
    .icon3{
      position: absolute;
      top: 155rem;
      left: 23rem;
    }
    .ho4{
      position: absolute;
      font-family: 'Bebas Neue', cursive;
      top: 151rem ;
      left: 6rem;
      font-size:20px ;
      color: rgb(12, 1, 1);
    }
    .afo{
      position: absolute;
      font-family: 'Bebas Neue', cursive;
      top: 153rem ;
      left: 6rem;
      font-size:18px ;
      color: rgb(12, 1, 1);
    }
    .afo1{
      position: absolute;
      font-family: 'Bebas Neue', cursive;
      top: 155rem ;
      left: 7rem;
      font-size:18px ;
      color: rgb(12, 1, 1);
    }
    .favicon{
      position: absolute;
      top: 158rem ;
      left: 6rem;
      width: 160px;
      height: 160px;
    }


   .fuenteh{
      font-family: 'Bebas Neue', cursive;
   }